<footer>
  <h4 style="padding-top: 8px">RateForFriends</h4>
  <img
    src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg"
    style="width: 200px; height: 50px; padding: 10px"
  />
  <p style="padding-top: 16px">
    This product uses the TMDb API but is not endorsed or certified by TMDb.
  </p>
</footer>
