* {
  /* deleted padding and margin rules
  they are applied to all the elements on all pages
  already styled with Bootstrap
  and break everything */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

footer {
  display: flex;
  position: fixed;
  width: 100%;
  font-weight: 400;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
