<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RateForFriends</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <form action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-default nav-link" type="submit">
              Log out
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="container-fluid">
    <h3>Please rate your movie:</h3>
  </div>

  <div class="container">
    <div class="well" id="movie">
      <div class="row">
        <div class="col-md-6">
          <img src="..." class="movie-poster" />
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item"><h2 class="movie-title">Title</h2></li>
            <li class="list-group-item">
              <strong>Genre:</strong>
              <div class="genre">Genre</div>
            </li>
            <li class="list-group-item">
              <strong>Release Date:</strong>
              <div class="release-date">Release Date</div>
            </li>
          </ul>
          <hr />
          <div class="well">
            <h3>Overview</h3>
            <div class="overview">overview</div>
            <hr />
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Movie</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <tr class="initial_rating">
                  <td class="movie-title">Title</td>
                  <td>
                    <div class="stars-outer">
                      <div class="stars-inner"></div>
                    </div>
                    <span class="number-rating"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-group">
            <input
              type="number"
              id="rating-control"
              class="form-control"
              step="0.1"
              max="5"
              min="1"
              placeholder="Rate 1 - 5"
            />
          </div>
          <a href="/home" class="btn btn-default" onclick="history.back(-1)"
            >Search and rate another!</a
          >
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/details.js"></script>
  <script>
    getMovie();
  </script>
</div>
