<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RateForFriends</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Log out</button>
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container-fluid">
        <h3>Find some movies</h3>
    </div>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <form class="d-flex">
                <input class="form-control me-2" id="search-field" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success" id="search-button" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<div class="container">

    <div class="row row-cols-1 row-cols-md-3" id="search-result-cards">
        <div class="col mb-4 movie-card">
            <div class="card">
                <img src="..." class="card-img-top movie-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title movie-title">Card title</h5>
                    <p class="card-text movie-description">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <a href="#" class="btn btn-primary movie-rate-link">Rate the movie</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/home.js"></script>